@import url("modern-normalize/modern-normalize.css");

button,
input,
optgroup,
select,
textarea {
  color: inherit;
}

button,
[role="button"] {
  cursor: pointer;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  background-color: transparent;
  background-image: none;
}

button {
  border-width: 0;
}
